<div>
  brand / model / <%= @mobile.name %>
</div>

<h2><%= @mobile.name %></h2>

<div>
  <div>
    image
  </div>
  <div>
    <div>
      GPS, WM6, ...
    </div>
    <div>
      配置:<%=h @mobile.part %><br />
      说明:<%=h @mobile.remark %>
    </div>
    <div>
      Price: <%= @mobile.price %>
      
    </div>
    <div>
      查看批发价
    </div>
  </div>

  <div>
    更多图片
  </div>


  <%= button_to "Add to Cart" ,:controller => 'store', :action => 'add_to_cart', :id => @mobile %>
</div>

<% content_for :right do %>
  <div class="block3">
    <div class="cart_block">

      <%= render(:partial => "store/cart" , :object => @cart) %>

      {logo}购物车
      <ul>
        <li> 金立B988 3台 320.oo/台</li>
        <li> 索爱特K80 2台 1200.00/台 </li>
        <li> LG D900 1台 2100.00/台 </li>
      </ul>
      合计:6台，3620.00元
    </div>

    <div>
      推广活动（整合购买）
    </div>
    <div>
      新品
    </div>
    <div>
      热销产品
    </div>
  </div>
<% end %>

