<h1>修改登录密码</h1>
  <% form_tag do %>
    <p>
    <label for="name">新的登录密码：</label><br />
    <%= password_field_tag :password, params[:password], :class => 'required' %>
    </p>
    <p>
    <label for="password">再次输入登录密码：</label><br />
    <%= password_field_tag :password1, params[:password1], :class => 'required' %>
    </p>
    <p>
    <%= submit_tag "修改密码" %>
    <div  style="margin-top:10px;">
      <%= flash[:alert] %>
      <% if flash[:notice] -%>
      <%= flash[:notice] -%>
      <% end -%>
    </div>
    </p>
  <% end %>
