<div id="main_content">

  <div class="mobile_title_zone ui-corner-all">
    
    <div class="title">品牌：<%=h @brand.brand_name %></div>
    <div class="content">
      说明：
    </div>
  </div>
  <br />
  <table class="data_table">
    <caption>手机报价清单</caption>
    <thead>
      <tr>
        <th class="nobg">手机报价</th>
        <th>配置</th>
        <th>描述</th>
        <th>零售价</th>
        <th>报价</th>
        <th nowrap>报价日期</th>
      </tr>
    </thead>

    <tbody>
      <% @mobiles.each do |mobile| %>
      <tr onclick='goto_mobile(<%= mobile.id %>);'>
        <td nowrap><%=h mobile.name %></td>
        <td><%=h mobile.part %></td>
        <td><%=h mobile.remark %></td>
        <td align="right"><%=h mobile.price %></td>
        <td align="center" nowrap>(查价)</td>
        <td align="right">*</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>